body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/*This code affects the body of the sharedlayout*/

/*This code affects the list items in the Navbar*/
#sharedbody li{ 
    display:inline-flex;
    margin: 10px;
    
}
/*Changes the background of the Navbar*/
.navbar{
    background-color:brown !important;
}


p {
    color: cornflowerblue;
    text-shadow:1px black;
}
/*Text Scroll  START*/
/* Set the font, lean the board, position it */
#board {
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    transform: perspective(300px) rotateX(25deg);
    transform-origin: 50% 100%;
    text-align: justify;
    position: relative;
    margin-left: -9em;
    font-weight: bold;
    overflow: hidden;
    font-size: 250%;
    height: 30em;
    width: 18em;
    bottom: 0;
    left: 50%;
    max-height: 300px;
}

    #board:after {
        position: relative;
        content: ' ';
        bottom: 60%;
        left: 0;
        right: 0;
        top: 0;
    }

/* Set the scrolling animation and position it */
#content {
    animation: scroll 40s linear infinite;
    position: relative ;
    top: 100%;
}

#title, #subtitle {
    text-align: center;
}

@keyframes scroll {
    0% {
        top: 100%;
    }

    100% {
        top: -170%;
    }
}
/*Text Scroll Code END*/
/*This code affects the body of the sharedlayout*/
#sharedbody {
    margin: 0;
    background-color: beige;
    font-family: Proxima Nova,Proxima-Nova,proxima-nova,Helvetica,Arial,sans-serif;
}
/*CSS Code for Details Partial View*/
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
}

    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

.container {
    padding: 2px 16px;
}
/*CSS Code for Details Partial View END*/

.primary {
    -webkit-flex-grow: 2;
    flex-grow: 2;
    padding-left: 5px;
}

div {
    display: block;
}



#tableheader {
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    margin-right:10px

}
#indexHeader{
    display:inline-flex;
    justify-content:center
}
/*Review Index Page display (ForLoop)*/
#reviewdisplay {
    border: groove;
    background-color: maroon;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}

    #reviewdisplay:hover {
        background-color: yellow;
        box-shadow: 10px 10px 5px grey;
        border-radius:60%;
        color: black;
    }
/*Details Page Buttons*/
.btn {
    background-color: floralwhite;
    border: none;
    color: white;
    padding: 5px 8px !important;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius:60% !important;
}
.btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/*Home Page Code*/

.descriptiontag{
    background-color:darkslateblue;
}

#video{
    display:flex;
    align-items:center;
    justify-content:center;
}


